/* 
    Document   : style
    Created on : May 16, 2008, 1:03:25 AM
    Author     : Haimei Zhu
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

